body {
  font-family: "Outfit", sans-serif;
}

.marker-wrap {
  position: relative;
  display: inline-block;
}

.marker-svg {
  position: absolute;
  top: 0.4em;
  left: 0;
  width: 100%;
  height: 1.2em;
  stroke: #df2339;
  stroke-width: 15px;
  fill: none;
  stroke-linecap: round;
  rotate: -5deg;

  /* اهم شي: البداية تكون صفر */
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 3s ease forwards infinite;
}

.text {
  position: relative;
  z-index: 2;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
