html {
  scroll-behavior: smooth;
}
body {
  font-family: "Outfit", sans-serif;
}

.marker-wrap {
  position: relative;
  display: inline-block;
}

.marker-svg {
  position: absolute;
  top: 0.4em;
  left: 0;
  width: 100%;
  height: 1.2em;
  stroke: #df2339;
  stroke-width: 15px;
  fill: none;
  stroke-linecap: round;
  rotate: -5deg;

  /* اهم شي: البداية تكون صفر */
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 3s ease forwards infinite;
}

.text {
  position: relative;
  z-index: 2;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

/* Blob animation ( solution icons )*/

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 20px;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 100%;
  background-color: #f7f5f1;
}

.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 100%;
}

.blob-btn:hover {
  color: #ffffff;
  border-radius: 100%;
}

.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 100%;
}

.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}

.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%; /* 100% / 4 blobs */
  height: 100%;
  background: #df2339;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}

/* تحديد كل blob يدويًا بدل الحلقة */
.blob-btn__blob:nth-child(1) {
  left: 0;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}

.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}

/* Contact us footer button */
.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.6em;
  cursor: pointer;
  border: none;
  background: linear-gradient(to right, #df2339, #6e0d25);
  color: #df2339;
  overflow: hidden;
}
:hover.cssbuttons-io {
  color: #fff;
}

.cssbuttons-io span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  display: inline-flex;
  align-items: center;
  padding: 0.6em 1.2em 0.6em 1.05em;
}

.cssbuttons-io::before,
.cssbuttons-io::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.cssbuttons-io::before {
  content: "";
  background: #f0f0f0;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.cssbuttons-io:hover::before {
  transform: translate3d(100%, 0, 0);
}

.cssbuttons-io:active {
  transform: scale(0.95);
}
